<!--The content below is only a placeholder and can be replaced.-->

<div style="width:950px" >
<div  >

  <canvas id="barChart" width="300" height="123" class="chartjs-render-monitor" style="display: block; "></canvas>

  <canvas id="pieChart" width="650" height="273" class="chartjs-render-monitor" style="display: block; width: 750px; height: 290px;"></canvas>
  <!-- <h2 style="background-color:rgba(255, 145, 186, 1);font-size:2rem"> Polar Area Chart</h2>
  <canvas id="polarAreaChart" width="650" height="273" class="chartjs-render-monitor" style="display: block; width: 750px; height: 290px;"></canvas>
  <h2 style="background-color:rgba(255, 145, 186, 1);font-size:2rem"> Line Chart</h2>
  <canvas id="lineChart" width="650" height="273" class="chartjs-render-monitor" style="display: block; width: 750px; height: 290px;"></canvas>
  <h2 style="background-color:rgba(255, 145, 186, 1);font-size:2rem"> Doughnut Chart</h2>
  <canvas id="doughnutChart" width="650" height="273" class="chartjs-render-monitor" style="display: block; width: 750px; height: 290px;"></canvas>
  <h2 style="background-color:rgba(255, 145, 186, 1);font-size:2rem"> Radar Chart</h2>
  <canvas id="radarChart" width="650" height="273" class="chartjs-render-monitor" style="display: block; width: 750px; height: 290px;"></canvas>
  </div> -->

<div style="width:50%"  >
 
</div>
</div>


